/* Enter your custom styles here */
.sapContrastPlus.sapMOH.sapMOHBgSolid{
	background-image: url("https://flpnwc-a21bb6baf.dispatcher.hana.ondemand.com/sap/fiori/pcpmobile/images/wind-turbines-black-and-white-extended.jpg");
	height: 7.5em;
	background-repeat:no-repeat;
/*	background-size:contain;*/
	background-size:cover;
	background-position:center;
}

a[id$='linkHome']{
	color: #ffffff !important;
}

span[id*='attributeOrder'] {
	color: #ffffff !important;
	font-size: 1.4em !important;
}

span[id$='detectionDate-text']{
	color: #ffffff !important;
}

span[id$='severity']{
	font-size: 1.2em;
}
/*#__xmlview1--severity{
    font-size: 1.2em;
}*/

span[id$='severity-title']{
    color: #ffffff !important;
}

span[id$='severity-text']{
    color: #21e721!important;
}

label[id$='labelStatus']{
	color: #cae4fb !important;
}

#__header0-img{
	color: #ffffff;
}

#__attribute0-text{
	color: #ffffff;	
}

.bold{
	font-weight: bold;
}
/*#__xmlview1--labelPush{
	padding-top: 17px;
	padding-left: 8px;
}*/

span[id$='location']{
	padding-top: 0px;
	padding-left: 4px;	
}

span[id*='avatar']{
	background-color: #346187; 
}


img[id$='mapImage'] {
    width: 100%;
    height: auto;
}
/*#__data2{
	background-size:cover;
	background-position:center;	
}*/

.sapContrastPlus.sapMBar.sapMBar-CTX.sapMContent-CTX.sapMHeader-CTX.sapMIBar.sapMIBar-CTX.sapMPageHeader{
	background-color: #2f3c48;
}

span[id$='location2']{
	font-size: 1.4rem;
}

span[id$='detailsPage-title-inner']{
	color: #ffffff;	
}

span[id$='detailsPage-navButton-iconBtn']{
	color: #ffffff;	
}